* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #abccf2;
    min-height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}
.window {
    border: 3px solid white;
    border-bottom: 3px solid #25282c;
    border-right: 3px solid #25282c;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    max-width: 100%;
}
header {
    color: #fff;
    background-color: #0d2569;
    background: linear-gradient(60deg, #0d2569, #abccf2);
    padding: 0.6rem;
    padding-left: 2rem;
}
li {
    display: inline-block;
    margin-right: 4%;
    vertical-align: middle;
}
.border {
    display: inline-block;
}
img {
    display: inline-block;
    vertical-align: middle;
    width: 4rem;
    height: auto;
    margin-left: 30%;
    image-rendering: pixelated;
}
p {
    display: inline-block;
    color: #25282c;
    font-size: 1.7rem;
    margin-left: 1.5rem;
}
main {
    border: 2px solid darkgray;
    background-color: #c0c0c0;
    height: 14rem;
}
button {
    margin: 50px 30px 25px 625px;
    padding: 10px 20px;
    font-size: 1.75rem;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid #25282c;
    border-right: 3px solid #25282c;
    background-color: #c0c0c0;
}
